body{
    background-image: url('https://i.imgur.com/IRLWAHH.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.auth-btn{
    color: #000;
    background-color: #fff;
    margin: 10px 0;
}

.AuthPage{
    text-align: center;
}

.auth-btn:hover{
    cursor: pointer;
    color: rebeccapurple;
}